$main-bgc: #F7F1F0;
$second-bgc: #403234;
$third-bgc: #31383F;
$main-font-color: #262220;

// $main-bgc: #F7F1F0;
// $second-bgc: #A15C38;
// $third-bgc: #C3A6A0;
// $main-font-color: #262220;

// $main-bgc: #F6F4E8;
// $second-bgc: #1D3124;
// $third-bgc:#FFBB98;
// $main-font-color: #262220;


// $main-bgc: #E3DCD2;
// $second-bgc: #013328;
// $third-bgc:#CC8B65;
// $main-font-color: #100C0D;

// $main-bgc: #F6F4E8;
// $second-bgc: #BACEC1;
// $third-bgc:#CC8B65;
// $main-font-color: #41403C;