@import "~bootstrap/scss/functions";
@import "./helpers/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/bootstrap";


*,*:before,*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Microsoft JhengHei;
}